<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.majia.dao.UserDAO">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <resultMap id="resultMap" type="com.majia.entity.User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="selectById" resultMap="resultMap" parameterType="int">
        select * from t_user
    </select>

    <select id="selectAll" resultMap="resultMap">
        select * from t_user;
    </select>
</mapper>
